.login-confirm
  .login-confirm__header
    -# = render 'header'
    %h1 登録が完了しました。
    = link_to "トップへ戻る", root_path, class: "home"
  .login-confirm__main
  .login-confirm__footer
  -# = render 'items/footer'