* {
  box-sizing: border-box;
}

.top-header {
  top: 0;
  left: 0;
  height: 210px;
  width: 100%;
  background-color: white;
  padding: 0 50px;
  margin-bottom: 5px;
  a {
    color: black;
    text-decoration: none;
  }
  &__inner {
    height: 140px;
    width: 100%;
    min-width: 1000px;
    background-color: white;
    text-align: center;
    position: relative;
    &__logo {
      height: 80px;
      width: 100px;
      font-size: 12px;
      display: inline;
      .top-logo {
        height: 70px;
        width: 120px;
        margin-top: 30px;
      }
    }
    
    button.reservation-btn {
      width: 150px;
      height: 40px;
      font-size: 10px;
      position: absolute;
      top: 35px;
      left: 0px;
      text-decoration: none;
      // background: #6699FF;/*ボタン色*/
      color: black;
      // border-bottom: solid 4px#3399FF;
      // border-right: solid 2px #0099FF;
      content: none;/*ボタンを押すと線が消える*/
    }

    .management-btn {
      width: 150px;
      height: 40px;
      font-size: 10px;
      position: absolute;
      top: 80px;
      left: 0px;
      text-decoration: none;
      // background: #6699FF;/*ボタン色*/
      color: black;
      // border-bottom: solid 4px#3399FF;
      // border-right: solid 2px #0099FF;
      content: none;/*ボタンを押すと線が消える*/
    }

    button.form-btn {
      width: 150px;
      height: 40px;
      font-size: 10px;
      position: absolute;
      top: 35px;
      right: 0px;
      text-decoration: none;
      background: #333333;/*ボタン色*/
      color: #FFF;
      border-bottom: solid 4px#222222;
      border-right: solid 2px #111111;
      content: none;/*ボタンを押すと線が消える*/
    }

    button.mypage-btn {
      width: 150px;
      height: 40px;
      font-size: 10px;
      position: absolute;
      top: 80px;
      right: 0px;
      text-decoration: none;
      background: #FF3333;/*ボタン色*/
      color: #FFF;
      border-bottom: solid 4px#FF0033;
      border-right: solid 2px #FF0000;
      content: none;/*ボタンを押すと線が消える*/
    }
  }

  &__nav {
    height: 70px;
    width: 100%;
    min-width: 1000px;
    background-color:#eee;
    box-shadow: 0.2px 0.2px 1px 0.2px gray;
    ul.nav-lists {
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      li.nav-list {
        width: 16.6%;
        height: 100%;
        font-size: 13px;
        text-align: center;
        &__btn {
          h2 {

          }
        }
      }
    }
  }
}
