.main {
  height: 300px;
  width: 100%;
  background-color: white;
  padding: 0 50px;
  margin-bottom: 5px;
  &__screen {
    height: 300px;
    width: 100%;
    min-width: 1000px;
    position: relative;
    z-index: 1;
    &__left {
      height: 100%;
      width: 50%;
      min-width: 500px;
      position: absolute;
      z-index: 2;
      left: 0;
      background: image-url("main.logo2.jpg");
      background-size: cover;
    }
    &__right {
      height: 100%;
      width: 50%;
      min-width: 500px;
      position: absolute;
      z-index: 2;
      right: 0;
      background: image-url("main.logo2.webp");
      background-size: cover;
    }
  }
  &__border {
    height: 280px;
    width: calc(100% - 120px);
    min-width: 980px;
    border: solid 2px #bbb;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    top: 225px;
    left: 60px;



  }
  &__title {
    position: absolute;
    z-index: 4;
    top: 250px;
    left: 160px;
    h2 {
      font-size: 45px;
      font-weight: bold;
      color: #eee;
      -webkit-text-stroke: 2px #666;
    }
    p {
      font-size: 30px;
      font-weight: bold;
      color: #eee;
      -webkit-text-stroke: 2px #666;
    }
  }
}