.main-header {
  height: 60px;
  width: 100%;
  background-color: black;

  &__nav {
    color: white;
    display: flex;
    justify-content: space-evenly;
    h3 {
      font-size: 13px;
      line-height: 60px;
    }
  }
}