.main-header {
  height: 60px;
  width: 100%;
  background-color: black;
  a {
    color: white;
    text-decoration: none;
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;
    h3 {
      font-size: 14px;
      line-height: 60px;
    }
  }
}