.main {
  height: 450px;
  width: 100%;
  background-color: white;
  padding: 0 50px;
  margin-bottom: 5px;
  .swiper-container {
    height: 100%;
    width: 100%;
    background-color:gray;
    min-width: 1000px;
    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
      }
    }
  
  }
  &__border {
    height: 280px;
    width: calc(100% - 120px);
    min-width: 980px;
    border: solid 2px #bbb;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    top: 225px;
    left: 60px;
  }
  &__title {
    position: absolute;
    z-index: 4;
    top: 250px;
    left: 160px;
    h2 {
      font-size: 45px;
      font-weight: bold;
      color: #eee;
      -webkit-text-stroke: 2px #666;
    }
    p {
      font-size: 30px;
      font-weight: bold;
      color: #eee;
      -webkit-text-stroke: 2px #666;
    }
  }
}