.info {
  height: 230px;
  width: 100%;
  padding: 0 50px;
  position: relative;
  &__contents {
    height: 100%;
    width: calc(100% - 100px);
    min-width: 1000px;
    border: solid 1px #ccc;
    background-color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50px;
    a {
      text-decoration: none;
      color: black;
    }
    &__news {
      height: 100%;
      width: 35%;
      min-width: 350px;
      background-color: white;
      padding: 10px;
      margin-right: 10px;
     
      font-weight: normal;
      &__title {
        height: 25px;
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
      }
      ul.info-list {
        :hover {
          background-color: #eee;
        }
        li.info-list-pickup  {
          ul.pickup-news  {
            margin-top: 5px;
            border-bottom: 1px solid gray;
            box-shadow: 0.1px 0.3px 0.3px 0.2px gray;
            line-height: 50px;
            display: flex;
            li.pickup-news__img {
              height: 44px;
              width: 44px;
              margin: 3px;
              .post-logo {
                height: 100%;
                width: 100%;
              }
            }
            li.pickup-news__new {
              span {
                background-color: red;
                color: white;
                padding: 1px;
              }
            }
            li {   
              font-size: 12px;
              margin-right: 10px;
              padding-left: 10px;
            }
          }
        } 
      }
    }


    &__schedule{
      height: 100%;
      width: 35%;
      min-width: 350px;
      background-color: white;
      padding: 10px;
      margin-right: 10px;
      font-weight: normal;
      &__title {
        height: 25px;
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
      }
      ul.info-list {
        :hover {
          background-color: #eee;
        }
        li.info-list-pickup  {
          ul.pickup-schedule  {
            margin-top: 5px;
            border-bottom: 1px solid gray;
            box-shadow: 0.1px 0.3px 0.3px 0.2px gray;
            line-height: 50px;
            display: flex;
            li.pickup-schedule__img {
              height: 44px;
              width: 60px;
              margin: 3px;
              .post-logo {
                height: 100%;
                width: 100%;
              }
            }
            li.pickup-schedule__new {
              span {
                background-color: red;
                color: white;
                padding: 1px;
              }
            }
            li {
              font-size: 12px;
              margin-right: 10px;
              padding-left: 10px;
            }
          }
        } 
      }
    }

    &__point {
      height: 100%;
      width: 25%;
      min-width: 100px;
      background-color: white;
      padding: 10px 0 30px 0;
      margin-right: 10px;
      font-weight: normal;
      &__tab {
        height: 100%;
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        padding-left: 20px;
        h3{
          font-size: 20px;
          margin-bottom: 5px;
        }
        .map-img {
          height: 100px;
          width: 270px;
          border: solid 1px #ccc;
        }
        ul.sns-btn {
          display: flex;
          .sns-btn__set img.sns-logo {
            width: 130px;
            height: 70px;
            position: absolute;
            top: 145px;
            right: 190px;
          }
          .sns-btn__line img.sns-logo {
            width: 55px;
            height: 60px;
            position: absolute;
            top: 145px;
            right: 45px;
          }
          .sns-btn__youtube img.sns-logo {
            width: 95px;
            height: 60px;
            position: absolute;
            top: 145px;
            right: 90px;
          }
        }
      }
    }
  }
}