

.view-contents {
  height: 100vh;
  width: 100%;
  background-image: url(main.logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: white;;
}