// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

// Accordion Height
$a-height: 300px;



.staff {
  width: 100%;
  
  padding: 0 50px;
  .staff-title {
    min-width: 1300px;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
  }
  
  .staff-main {
    width: 100%;
    min-width: 1300px;
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    .staff-text {
      padding: 30px;
    }
    .staff__left {
      width: 49%;
      &__pick {
        display: flex;
        margin-bottom: 5px;
        box-shadow: 1px 1px 1px 1px gray;
        img {
          height: 200px;
          width: 300px;
        }
      }
    }
    
    .staff__right {
      width: 49%;
      &__pick {
        display: flex;
        margin-bottom: 5px;
        box-shadow: 1px 1px 1px 1px gray;
        img {
          height: 200px;
        }
      }
    }
  }
}