.footer
  .footer__main
    %ul.footer-lists
      %li 会社概要
      %li リクルート
      %li お問い合わせ
      %li test
      %li test
      %li test
    %p Copyright c 2020 HAIR MAKE Varenta All Rights Reserved.
