$white: #fff;
$side_blue_dark: #8caad3;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

// ---background-color-list---------------
  // side-ber
  $background-color1: #253141; //header
  $background-color2: #2f3e51; //group-list
  // chat-main
  $background-color3: #ffffff; //header
  $background-color4: #fafafa; //message
  $background-color5: #d2d2d2; //form
  $background-color6: #38aef0; //send-btn
//----------------------------------------


// ---color-------------------------------
  // side-ber
  $font-color1: #ffffff;
  // chat-main
  $font-color2: #333333; //header__name
  $font-color3: #999999; //header__member
  $font-color4: #38aef0; //header__group-edit
  $font-color5: #333333; //message__left__name
  $font-color6: #434A54; //message__left__date
  $font-color7: #434a54; //message__comment
  $font-color8: black;   //form__
  $font-color9: white;   //form__
//----------------------------------------



.chat-containar {
  padding: 0 50px;

  
  .side-bar {
    float: left;
    
    .header {
      background-color: $background-color1;
      height: 100px;
      width: 300px;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      &__name {
        color: $font-color1;
        height: 20px;
        width: 260px;
        margin: 0 20px;
        font-weight: bold;
        font-size: 16px;
        list-style: none;
      }
      &__lists  {
        display: flex;
        margin: 0 20px;
        
      }
      li {
        margin-left: 5px;
        a { 
          color: $font-color1;
        }
      }  
    }
  }
  .group-list {
    background-color: $background-color2;
    color: $font-color1;
    height: calc(100vh - 100px);
    width: 300px;
    margin: 0;
    padding: 20px 20px 0;
    text-decoration: none;
    font-weight: bold;
    .group {
      a {
        color: $font-color1;
        text-decoration: none;
      }
    }  
    .group-list {
      color: $font-color1;
      &__name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message {
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 40px;
      }
    }  
  }   




  .chat-main {
    width: calc(100vw - 400px);
    float: right;
    .header {
      background-color: $background-color3; 
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      &__group {
        &__name {
          color: $font-color2;
          font-size: 20px;
          padding: 35px 0 0px;
        }
        &__member {
          color: $font-color3;
          font-size: 12px;
        }
      }
      &__group-edit {
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px;
        color: $font-color4;
        a {
          color: $font-color4;
          text-decoration: none;
        }
      }
    }
    
    .message {
      background-color: $background-color4;
      height: calc(100vh - 200px - 90px);
      padding: 35px 0 0 40px;
      overflow: scroll;
      .messages {
        .messages__left {
          display: flex;
          padding-bottom: 12px;
          &__name {
            color: $font-color5;
            font-size: 16px;
            font-weight: bold;
            padding-right: 10px;
          }
          &__date {
            font-size: 12px;
            color: $font-color6;
          }
        }
        
        &__comment {
          color: $font-color7;
          font-size: 14px;
        }
      }
    }
    
    .forms {
      background-color: $background-color5;
      height: 90px;
      padding: 20px 40px;
      form {
        display: flex;
        .form {
          display: flex;
          width: 100%;
          position: relative; 
          .form__text {
            width: 100%;
            height: 50px;
            padding: 0 40px 0 10px;
          }
          .input {
            .input__file {
              .image {
                position: absolute;
                top: 15px;
                right: 10px;
                color: $font-color8;
                font-size: 20px;
              }
              .file {
                display: none;
              }
            } 
          }
        }
      }
      .send-btn {
        color: $font-color9;
        background-color: $background-color6;
        height: 50px;
        width: 100px; 
      }
    }
  }
}