.review {
  width: 100%;
  min-width: 1300px;
  padding: 0 50px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  &__tweets {
    width: 100%;
    background-color: #eee;
    h1,p {
      text-align: center;
    }

    .review-list {
      width: 70%;
      height: 400px;
      margin: 0 auto;
      background-color: #fff;

      .user-name {
      
      }
    }
    



    .review-form {
      height: 200px;
      form {
        width: 100%;
        text-align: center;
      }
      textarea {
        width: 70%;
        height: 70px;
      }
      input {
        width: 70%;
        height: 40px;
      }
  
    }

    .review-comments {
      textarea {
        width: 80%;
      }
    }
  }
}