-# .header
-#   .header__inner
-#     .header__inner__nav




.body
  #global-container
    #container
   
      -# .animate-title.inview
      -#   %span.char Earn
      -#   %span.char money
      -#   %span.char leading
      -#   %span.char people
      -#   %span.char on
      -#   -# %br/
      -#   %span.char activities
      -#   %span.char you
      -#   %span.char love.
      -#   %br/
       


      -# %button{:onclick => "document.querySelector('.animate-title').classList.toggle('inview');"} 





      .title-logo
        = link_to "Varenta", root_path, method: :get, class: 'btn-1'
      .mobile-menu__cover
      %header.header
        %button.mobile-menu__btn
          %span
          %span
          %span



    %nav.mobile-menu
      %ul.mobile-menu__main
        %li.mobile-menu__item
          %a.mobile-menu__link{:href => "/"}
            %span.main-title Home
            %span.sub-title メイン画面
        %li.mobile-menu__item
          %a.mobile-menu__link{:href => "#"}
            %span.main-title Varenta
            %span.sub-title Varentaとは
        %li.mobile-menu__item
          %a.mobile-menu__link{:href => "#"}
            %span.main-title Reservation
            %span.sub-title 予約について
        %li.mobile-menu__item
          %a.mobile-menu__link{:href => "#"}
            %span.main-title Terms
            %span.sub-title 規約
        %li.mobile-menu__item
          %a.mobile-menu__link{:href => "#"}
            %span.main-title Inquery
            %span.sub-title お問い合わせ

%script{:src => "/main.js"}


