.info
  .info__contents
    .info__contents__news
      .info__contents__news__title
        %h3 NEWS
      %ul.info__contents__news__list
        %li.info__contents__news__list__picup
          %ul
            %li
              %span 2020.04.26
            %li
              %span New
            %li
              営業のお知らせ

    .info__contents__schedule
      .info__contents__schedule__title
        %h3 schedule
      .info__contents__schedule__list
        担当スタイリスト

    