.main-header
  .main-header__nav
    %h3 NEWS
    %h3 PRICE
    %h3 STAFF
    %h3 HAIR STYLE
    %h3 BLOG
    %h3 ONLINE SHOP
    %h3 SIGN UP
    -# SIGN IN
    %h3 CONTACT
    -# 予約フォーム
    -# お問い合わせFORM
    -# ACCESS