.info
  .info__contents
    .info__contents__news
      .info__contents__news__title
        %h3 NEWS
        -# %span air latest information
      %ul.info-list
        %li.info-list-pickup 
          %ul.pickup-news 
            %li.pickup-news__title
              %span 2020.04.26
            %li.pickup-news__new
              %span New
            %li.pickup-news__message
              営業のお知らせ

        %li.info-list-pickup 
          %ul.pickup-news 
            %li.pickup-news__title
              %span 2020.04.26
            %li.pickup-news__new
              %span New
            %li.pickup-news__message
              営業のお知らせ
              
        %li.info-list-pickup 
          %ul.pickup-news 
            %li.pickup-news__title
              %span 2020.04.26
            %li.pickup-news__new
              %span New
            %li.pickup-news__message
              営業のお知らせ
        

    .info__contents__schedule
      .info__contents__schedule__title
        %h3 schedule
      .info__contents__schedule__list
        担当スタイリスト



-# <ul class="msr_newslist02">
-#   <li>
-#     <a href="#">
-#     <div>
-#       <time datetime="2016-1-1">2016.01.01</time>
-#       <p class="cat01">cat01</p>
-#     </div>
-#     <p> テキストテキスト </p>
-#     </a>
-#   </li>
-#   <li>
-#     <a href="#">
-#     <div>
-#       <time datetime="2016-1-1">2016.01.01</time>
-#       <p class="cat02">cat02</p>
-#     </div>
-#     <p> テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト </p>
-#     </a>
-#   </li>
-#   <li>
-#     <a href="#">
-#     <div>
-#       <time datetime="2016-1-1">2016.01.01</time>
-#       <p class="cat01">cat01</p>
-#     </div>
-#     <p> テキストテキスト </p>
-#     </a>
-#   </li>
-#   <li>
-#     <a href="#">
-#     <div>
-#       <time datetime="2016-1-1">2016.01.01</time>
-#       <p class="cat02">cat02</p>
-#     </div>
-#     <p> テキストテキスト </p>
-#     </a>
-#   </li>
-# </ul>











-# .main-g
-# -#  %section.main-content__mypage-tab__container.mypage__tab__container-box
-#   %h2.mypage-tab__head
-#     出品した商品
-#   %ul.mypage-tab
-#     %li.tab-active-three
-#       =link_to "出品中" ,"#selling-now" , class: "mypage-tab__list three-tabs-list" ,id:"mypage-tab__list-new"
-#     %li
-#       =link_to "取引中","#sold-transaction-now" , class: "mypage-tab__list three-tabs-list" ,id:"mypage-tab__list-transaction"
-#     %li
-#       =link_to "過去の取引","#previous-sold" , class: "mypage-tab__list three-tabs-list" ,id:"mypage-tab__list-old"
  
-#   %section.main-content__mypage-tab__container.mypage__tab__container-box
-#   %h2.mypage-tab__head
-#     購入した商品
-#   %ul.mypage-tab
-#     %li.tab-active
-#       =link_to "取引中" ,"#bought-transaction-now" , class: "mypage-tab__list two-tabs-list" ,id:"mypage-tab__list-buy-new"
-#     %li
-#       =link_to "過去の取引","#previouus-bought" , class: "mypage-tab__list two-tabs-list" ,id:"mypage-tab__list-bought-old"



    


    