.wrapper
  -# ------------------------------
  -#           Header
  -# ------------------------------

  = render "products/modules/header"  

  -# ------------------------------
  -#           Main
  -# ------------------------------

  = render "products/modules/main"

  -# ------------------------------
  -#           Footer
  -# ------------------------------

  = render "products/modules/footer"
