-#  / sidebar start
-#       %aside
-#         #sidebar.nav-collapse
-#           / sidebar menu start
-#           %ul#nav-accordion.sidebar-menu
-#             %p.centered
-#               %a{:href => "profile.html"}
-#                 %img.img-circle{:src => "img/ui-sam.jpg", :width => "80"}/
-#             %h5.centered Sam Soffes
-#             %li.mt
-#               %a{:href => "index.html"}
-#                 %i.fa.fa-dashboard
-#                 %span Dashboard
-#             %li.sub-menu
-#               %a{:href => "javascript:;"}
-#                 %i.fa.fa-desktop
-#                 %span UI Elements
-#               %ul.sub
-#                 %li
-#                   %a{:href => "general.html"} General
-#                 %li
-#                   %a{:href => "buttons.html"} Buttons
-#                 %li
-#                   %a{:href => "panels.html"} Panels
-#                 %li
-#                   %a{:href => "font_awesome.html"} Font Awesome
-#             %li.sub-menu
-#               %a{:href => "javascript:;"}
-#                 %i.fa.fa-cogs
-#                 %span Components
-#               %ul.sub
-#                 %li
-#                   %a{:href => "grids.html"} Grids
-#                 %li
-#                   %a{:href => "calendar.html"} Calendar
-#                 %li
-#                   %a{:href => "gallery.html"} Gallery
-#                 %li
-#                   %a{:href => "todo_list.html"} Todo List
-#                 %li
-#                   %a{:href => "dropzone.html"} Dropzone File Upload
-#                 %li
-#                   %a{:href => "inline_editor.html"} Inline Editor
-#                 %li
-#                   %a{:href => "file_upload.html"} Multiple File Upload
-#             %li.sub-menu
-#               %a{:href => "javascript:;"}
-#                 %i.fa.fa-book
-#                 %span Extra Pages
-#               %ul.sub
-#                 %li
-#                   %a{:href => "blank.html"} Blank Page
-#                 %li
-#                   %a{:href => "login.html"} Login
-#                 %li
-#                   %a{:href => "lock_screen.html"} Lock Screen
-#                 %li
-#                   %a{:href => "profile.html"} Profile
-#                 %li
-#                   %a{:href => "invoice.html"} Invoice
-#                 %li
-#                   %a{:href => "pricing_table.html"} Pricing Table
-#                 %li
-#                   %a{:href => "faq.html"} FAQ
-#                 %li
-#                   %a{:href => "404.html"} 404 Error
-#                 %li
-#                   %a{:href => "500.html"} 500 Error
-#             %li.sub-menu
-#               %a{:href => "javascript:;"}
-#                 %i.fa.fa-tasks
-#                 %span Forms
-#               %ul.sub
-#                 %li
-#                   %a{:href => "form_component.html"} Form Components
-#                 %li
-#                   %a{:href => "advanced_form_components.html"} Advanced Components
-#                 %li
-#                   %a{:href => "form_validation.html"} Form Validation
-#                 %li
-#                   %a{:href => "contactform.html"} Contact Form
-#             %li.sub-menu
-#               %a{:href => "javascript:;"}
-#                 %i.fa.fa-th
-#                 %span Data Tables
-#               %ul.sub
-#                 %li
-#                   %a{:href => "basic_table.html"} Basic Table
-#                 %li
-#                   %a{:href => "responsive_table.html"} Responsive Table
-#                 %li
-#                   %a{:href => "advanced_table.html"} Advanced Table
-#             %li
-#               %a.active{:href => "inbox.html"}
-#                 %i.fa.fa-envelope
-#                 %span Mail
-#                 %span.label.label-theme.pull-right.mail-info 3
-#             %li.sub-menu
-#               %a{:href => "javascript:;"}
-#                 %i.fa.fa-bar-chart-o
-#                 %span Charts
-#               %ul.sub
-#                 %li
-#                   %a{:href => "morris.html"} Morris
-#                 %li
-#                   %a{:href => "chartjs.html"} Chartjs
-#                 %li
-#                   %a{:href => "flot_chart.html"} Flot Charts
-#                 %li
-#                   %a{:href => "xchart.html"} xChart
-#             %li.sub-menu
-#               %a{:href => "javascript:;"}
-#                 %i.fa.fa-comments-o
-#                 %span Chat Room
-#               %ul.sub
-#                 %li
-#                   %a{:href => "lobby.html"} Lobby
-#                 %li
-#                   %a{:href => "chat_room.html"} Chat Room
-#             %li
-#               %a{:href => "google_maps.html"}
-#                 %i.fa.fa-map-marker
-#                 %span Google Maps
-#           / sidebar menu end
-#       / sidebar end
-#       /