= render "products/modules/header"
= render "products/modules/pankuzu"

.news-contents
  .news-contents__pickup
    .pickup__subject
      %h2 2020.05.03
      %h2 title
    .pickup__image
    .pickup__text
      
  .news-contents__side-bar
    .side-ber__subject
      %h2 past article

= render "products/modules/footer"