=render "products/modules/header"
-# = render "products/modules/pankuzu"

.price-contents
  .price-contents__title
    %h1 price
  .price-contents__main
    .price-contents__main__left-lists
      %h2 Cut
      %ul.text 
        %li カット
        %li ¥4000
      %ul.text 
        %li シャンプーカット
        %li ¥4500
      %ul.text 
        %li 学生カット（高校生まで）
        %li ¥3500
      %ul.text 
        %li キッズカット（小学生未満）
        %li ¥2500

      %h2 Perm
      %ul.text 
        %li ポイントパーマ
        %li ¥4000
      %ul.text 
        %li カール
        %li ¥10000
      %ul.text 
        %li 特殊パーマ
        %li ¥10000
      %ul.text 
        %li デジタルパーマ
        %li ¥8000

    .price-contents__main__right-lists
      %h2 Color
      %ul.text 
        %li ポイントカラー
        %li ¥3500
      %ul.text 
        %li 全体
        %li ¥4200
      %ul.text 
        %li ブリーチ
        %li ¥8000
      %ul.text 
        %li カラー黒
        %li ¥5000
    
      %h2 Straight
      %ul.text 
        %li 縮毛矯正
        %li ¥10000
      %ul.text 
        %li ストレートパーマ
        %li ¥6000
      %ul.text 
        %li ポイント
        %li ¥3000
      %ul.text 
        %li トリートメント
        %li ¥3000
  

= render "products/modules/footer"