=render "products/modules/header"
= render "products/modules/pankuzu"

.price-contents
  .price-contents__title
    %h1 price
  .price-contents__main
    .price-contents__main__left-lists
      %h2 Cut
      %ul.text 
        %li カット
        %li  3000
      %ul.text 
        %li シャンプーカット
        %li  3500
      %ul.text 
        %li カット
        %li  2000
      %ul.text 
        %li カット
        %li  2000

      %h2 Cut
      %ul.text 
        %li カット
        %li  3000
      %ul.text 
        %li シャンプーカット
        %li  3500
      %ul.text 
        %li カット
        %li  2000
      %ul.text 
        %li カット
        %li  2000

    .price-contents__main__right-lists
      %h2 Cut
      %ul.text 
        %li カット
        %li  2000
      %ul.text 
        %li カット
        %li  2000
      %ul.text 
        %li カット
        %li  2000
      %ul.text 
        %li カット
        %li  2000
    
      %h2 Cut
      %ul.text 
        %li カット
        %li  2000
      %ul.text 
        %li カット
        %li  2000
      %ul.text 
        %li カット
        %li  2000
      %ul.text 
        %li カット
        %li  2000
  