=render "products/modules/header"

.accordion
  %ul
    %li{:tabindex => "1"}
      %div
        %a{:href => "#"}
          %h2 店長 松坂桃李
          %br/
          %p ....
          %p  
          %p 
    %li{:tabindex => "2"}
      %div
        %a{:href => "#"}
          %h2 チーフ
          %p ....
    %li{:tabindex => "3"}
      %div
        %a{:href => "#"}
          %h2 リーダー
          %p .....
    %li{:tabindex => "4"}
      %div
        %a{:href => "#"}
          %h2 テスト
          %p テスト
  
%p.about
  

= render "products/modules/footer"