.news-wrapper {
  width: 100%;
  background-color: #fff;
  padding: 0 50px;
  margin-bottom: 5px;
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  p {
    font-size: 15px;
    line-height: 30px;
  }
  .news-contents{
    width: 100%;
    min-width: 1300px;
    min-height: 500px;
    background-color: #eee;
    position: relative;
    display: flex;
    &__pickup {
      width: 80%;
      min-width: 865px;
      height: 600px;
  
      
      .pickup__subject {
        max-width: 100%;
        min-width: 865px;
        height: 40px;
        line-height: 40px;
        border-bottom: solid 1px gray;
        display: flex;
        top: 0;
        left: 0;
      }

      .pickup__image {
        min-width: 360px;
        min-height: 500px;
        background-color: white;
        color: orange;
        text-align: center;
        img {
          width: 360px;
          height: 250px;
        }
        &__first {
          position: absolute;
          top: 40;
          left: 0;
        }
        &__second {
          position: absolute;
          top: 290px;
          left: 0;
        }
      }
      .pickup__text {
        width: calc(80% - 360px);
        min-width: 680px;
        min-height: 500px;
        background-color: #eee;
       
        line-height: 10px;
        position: absolute;
        top: 40px;
        left: 360px;
        z-index: 2;
        text-align: left;
        padding: 10px;
        &__title{
          text-align: center;
          margin-bottom: 30px;
        }

        .textdata {
          text-align: center;
        }
      }
    }
    
    &__side-bar {
      width: 20%;
      min-height: 600px;
      background-color: #ddd;
      position: absolute;
      top: 0px;
      left: 80%;
      text-align: center;
      .side-ber__subject {
        h2 {
          text-align: center;
          line-height: 32px;
        }
        hr {
          width: 200px;
        }
        ul {
          height: 25px;
          li {
            text-align: center;
            font-size: 15px;
          }
        }
      }
    }
  }
}


